<div class="position-absolute d-flex flex-column" style="bottom: 3rem; right: 3rem;">
  <%= link_to "#", class: "btn btn-light my-1", data: { toggle: "modal", target: "#createNote" } do %>
    + 💻 Note
  <% end %>

  <%= link_to "#", class: "btn btn-light my-1", data: { toggle: "modal", target: "#createList" } do %>
    + ⏱ List
  <% end %>
</div>

<div class="modal fade" id="createNote" tabindex="-1" role="dialog" aria-labelledby="createNoteLabel" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center py-5 height-100 max-width-80vw" role="document">
    <div class="modal-content width-80">
      <div class="modal-body">
        <%= simple_form_for(new_note, html: { class: "height-100" }) do |f| %>
          <div class="form-inline">
            <%= f.input :title, required: false, input_html: { class: "ml-2" } %>
          </div>
          <%= f.input :tag, collection: user_tags %>
          <%= f.input :note_taken_on, required: false %>
          <%= f.input :content, label: false,
                                required: false,
                                wrapper_html: {
                                  class: ""
                                } %>
          <%= f.submit "Create", class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createList" tabindex="-1" role="dialog" aria-labelledby="createListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
