<!DOCTYPE html>
<html>
  <head>
    <title>CodingNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="d-flex">
      <% unless params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" %>
        <%= render 'shared/sidenav', all_user_notes: @all_user_notes,
                                     user_tags: @user_tags %>
      <% end %>
      <%= render 'shared/flashes' %>
      <div class="position-relative w-100 p-5">
        <%= yield %>

        <%= render 'shared/remote', user_tags: @user_tags,
                                    new_note: @new_note %>
      </div>
    </div>
  </body>
</html>
